:root {
  /* Font */
  --primary-font-family: "Lato";
  --secondary-font-family: "Open Sans";

  /* Color */
  --brand-color: #f25c5c;
  --text-color: #5f5f5f;
  --body-bg-color: #fff;

  /* Size */
  --primary-font-size: 3.5rem;
  --secondary-font-size: 1.3rem;
  --line-height: 2.5rem;
}
