@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Saira:wght@100;400;700&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.9rem;
  background-color: #181a1d;
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Common */
.container {
  height: 50rem;
}

/* Nav */
.nav {
  background-color: #000;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
}

.nav .log a {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.nav nav ul li {
  display: inline;
  margin-left: 3rem;
}

.nav nav ul li a {
  font-size: 1.3rem;
  color: #fff;
}

/* Banner */
.banner {
  height: 60rem;

  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;

  position: relative;
}

.banner .banner-body {
  position: absolute;
  top: 50%;
  left: 20%;
}

.banner .banner-body p {
  color: #cf1f1f;
}

.banner .banner-body h1 {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: #fff;
}

/* About Me */
.about-me {
  background-color: gray;
}

.about-me h1 {
  margin: 0;
}

/* what i do */
/* .what-i-do {
  background-color: #cf1f1f;
} */
